a {
  color: var(--color-primary);
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

body {
  padding-bottom: 8em;
  position: relative;
  min-height: 100vh;
}

a:hover {
  color: var(--color-secondary);
}
