nav {
  top: 10em;
  width: 100%;
}

.center {
  margin: auto;
}

.twolines {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.bs-logo {
  max-width: 55%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom:3em;
  transition: all .3s ease;
}

.go {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: all .3s ease;
}

.go1 {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: all .3s ease;
}

.go:hover, .go1:hover, .bs-logo:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 38em) {
  nav {
    top: 5em;
    width: 100%;
  }

  .twolines {
    border-top: none;
    border-bottom: none;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
  }

  .center {
    top: 35%;
    transform: translateY(-35%);
    position: absolute;
  }

  .bs-logo {
    transform: scale(2);
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5em;
    transition: all .3s ease;
  }

  .go {
    transform: scale(1.5);
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.1em;
    transition: all .3s ease;
  }

  .go1 {
    transform: scale(1.4);
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.4em;
    transition: all .3s ease;
  }

  .bs-logo:hover {
    transform: scale(2.2);
  }

  .go:hover {
    transform: scale(1.6);
  }

  .go1:hover {
    transform: scale(1.5);
  }
}

@media only screen and (min-width: 60em) {
  nav {
    top: 5em;
    width: 100%;
  }

  .twolines {
    border-top: none;
    border-bottom: none;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
  }

  .center {
    top: 35%;
    transform: translateY(-35%);
    position: absolute;
  }

  .bs-logo {
    transform: scale(1.5);
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.6em;
    transition: all .15s ease;
  }

  .go {
    transform: scale(1.1);
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    transition: all .15s ease;
  }

  .go1 {
    transform: scale(1.4);
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.8em;
    transition: all .15s ease;
  }

  .bs-logo:hover {
    transform: scale(1.6);
  }

  .go:hover {
    transform: scale(1.2);
  }

  .go1:hover {
    transform: scale(1.5);
  }

}

@media only screen and (min-width: 90em) {
  .twolines {
    border-top: none;
    border-bottom: none;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
  }

  .center {
    top: 35%;
    transform: translateY(-35%);
    position: absolute;
  }

  .bs-logo {
    transform: scale(1.7);
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.7em;
    transition: all .3s ease;
  }

  .go {
    transform: scale(1.1);
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.2em;
    transition: all .3s ease;
  }

  .go1 {
    transform: scale(1.4);
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.8em;
    transition: all .3s ease;
  }

  .bs-logo:hover {
    transform: scale(1.8);
  }

  .go:hover {
    transform: scale(1.2);
  }

  .go1:hover{
    transform: scale(1.5);
  }
}
