nav {
  top: 10em;
  width: 100%;
}

.center {
  margin: auto;
}

.twolines {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.bs-logo {
  max-width: 55%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;
  padding-bottom:3em;
  transition: all .3s ease;
}

.go {
  max-width: 150%;
  max-height: 150%;
  margin-left: auto;
  margin-right: auto;
  transition: all .3s ease;
}

.go1 {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: all .3s ease;
}

.go:hover, .go1:hover, .bs-logo:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 38em) {
  .twolines {
    border-top: none;
    border-bottom: none;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
  }

  .center {
    top: 35%;
    transform: translateY(-35%);
    position: absolute;
  }

  .bs-logo {
    max-width: 75%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    transition: all .3s ease;
  }

  .go {
    max-width: 150%;
    max-height: 150%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.2em;
    transition: all .3s ease;
  }

  .go1 {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    transition: all .3s ease;
  }

  .go:hover, .go1:hover, .bs-logo:hover {
    transform: scale(1.1);
  }
}
