.border {
  border: solid 10px;
  border-color: var(--color-whatever);
  border-radius: 5px;
  background-color: var(--color-neutral-beige);
}
img {
  width: 100%;
}

.text {
  padding: .5rem;
}

.section-box {
  padding: .5rem;
}

.section-wrap {
  padding: .5rem;
}

.card-pic {
  padding: .5rem;
}

@media only screen and (min-width: 25em) {

  .border {
    border: solid 10px;
    border-color: var(--color-whatever);
    border-radius: 5px;
    background-color: var(--color-neutral-beige);
  }

  img {
    width: 100%;
    position: relative;
  }

  .text {
    padding: .5rem;
  }

  .section-box {
    padding: .5rem;
  }

  .section-wrap {
    padding: .5rem;
  }

  .card-pic {
    padding: .5rem;
  }
}

@media only screen and (min-width: 38em) {

  .border {
    border: solid 10px;
    border-color: var(--color-whatever);
    border-radius: 5px;
    background-color: var(--color-neutral-beige);
  }

  img {
    width: 100%;
    position: relative;
  }

  .text {
    padding: .5rem;
  }

  .section-box {
    padding: .5rem;
  }

  .section-wrap {
    padding: .5rem;
  }

  .card-pic {
    padding-top: .5rem;
  }
}

@media only screen and (min-width: 60em) {

  .border {
    border: solid 10px;
    border-color: var(--color-whatever);
    border-radius: 5px;
    background-color: var(--color-neutral-beige);
  }

  img {
    width: 100%;
    position: relative;
  }

  .text {
    padding: .5rem;
  }

  .section-box {
    padding: .5rem;
  }

  .section-wrap {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .card-pic {
    padding: .5rem;
  }
}

@media only screen and (min-width: 90em) {

  .border {
    border: solid 10px;
    border-color: var(--color-whatever);
    border-radius: 5px;
    background-color: var(--color-neutral-beige);
  }

  img {
    width: 100%;
    position: relative;
  }

  .text {
    padding: .5rem;
  }

  .section-box {
    padding: .5rem;
  }

  .section-wrap {
    padding-right: 7.5rem;
    padding-left: 7.5rem;
  }

  .card-pic {
    padding: .5rem;
  }
}
