---
layout: default
---
<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Robert Riopel Graphic Design · Simplicit Design · Ottawa · Toronto</title>
  <meta name="description" content="Graphic Designer from Ottawa and Toronto specializing in simplicit design branding and marketing.">
  <meta name="viewport" content="width=device-width, initial scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,800|Oswald:400,700&display=swap" rel="stylesheet">
  <meta name="ICBM" content="45.41117, -75.69812">
  <meta name="geo.position" content="45.41117, -75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Robert Riopel Graphic Design · Simple elegant branding and marketing solutions">
  <meta property="og:url" content="https://robertriopel.ca/">
  <meta property="og:image" content="https://robertriopel.ca/images">
  <meta property="og:site_name" content="Robert Riopel Graphic Design">
  <meta property="og:description" content="Simplified design solutions · Elegant and sophisticated marketing and branding">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@robertriopel">
</head>
<body>

  <div class="grid push gutter-2">
    {% for card in site.black-squirrel %}
    <div class="unit xs-1-2 s-1-2 m-1-3 l-1-3 island-1-2">
      {% pattern cards/cardhover data=card %}
    </div>
    {% endfor %}
  </div>
  {% for card in site.black-squirrel %}
  <div class="section-wrap unit xs-1 s-1 m-1 l-1">
    {% pattern sections/sections data=card %}
  </div>
  {% endfor %}

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "RobertRiopelDesign",
      "author": {
        "@type": "Person",
        "@id": "#robertriopel"
      },
      "description": "A portfolio presentation website to showcase my simplistic graphic design.",
      "image":"https://placehold.it/1600x900",
      "award": "Has won no awards",
      "url": "https://robertriopel.ca/",
      "keywords": "Design, Portfolio, Web, Resonsive, CSS, Simple, Strategic, Marketing, Branding"
    }
  </script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "@id": "#robertriopel",
      "name": "Robert Riopel",
      "email": "robertriopel@mailftp.com"
      "url": "https://robertriopel.ca"
    }
  </script>
