<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Robert Riopel · Graphic Design · Ottawa · Toronto</title>
  <meta name="description" content="Graphic Designer from Ottawa and Toronto specializing in simplicit design branding and marketing.">
  <meta name="viewport" content="width=device-width, initial scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,800|Oswald:400,700&display=swap" rel="stylesheet">
  <meta name="ICBM" content="45.41117, -75.69812">
  <meta name="geo.position" content="45.41117, -75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Robert Riopel Graphic Design · Branding and Marketing Solutions">
  <meta property="og:url" content="https://robertriopel.ca/">
  <meta property="og:image" content="https://robertriopel.ca/images">
  <meta property="og:site_name" content="Robert Riopel · Graphic Design">
  <meta property="og:description" content="Simple Design Solutions and Sophisticated Branding">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@robertriopel">
</head>
<body>

  <ul class="skip-links">
    <li><a href="#main">Jump to main content></a></li>
    <li><a href="#nav">Jump to navigation></a></li>
  </ul>

  <header role="banner" class="masthead" id="header">
    {% pattern navigation/nav page=page %}
  </header>

  <main role="main" id="main" tabindex="0">
    {{content}}
    {% unless page.url=='/' %}
    <div class="back-to-top fixed">
      {% pattern buttons/back-to-top %}
    </div>
    {% endunless %}
    <div>
      <ul class="texter-links list-group relative">
        <li class="unit xs-1 text-center pad-t pad-b">
          <a href="/motion"><strong>motion reel</strong></a>
          </li>
        <li class="unit xs-1 text-center">
          <a href="/misc"><strong>miscellaneous</a>
          </li>
          </ul>
      </div>
  </main>

  {% pattern footer/footer %}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "RobertRiopelDesign",
    "author": {
      "@type": "Person",
      "@id": "#robertriopel"
    },
    "description": "A portfolio presentation website to showcase my simplistic graphic design.",
    "image":"https://placehold.it/1600x900",
    "award": "Has won no awards",
    "url": "https://robertriopel.ca/",
    "keywords": "Design, Portfolio, Web, Resonsive, CSS, Simple, Strategic, Marketing, Branding"
  }
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "#robertriopel",
  "name": "Robert Riopel",
  "email": "robertriopel@mailftp.com"
  "url": "https://robertriopel.ca"
}
</script>

</body>

</html>
